
/*.Principal{
    width: 100%;   
}

.contenedor1{
    width: 100%;
   
}

.contenedor2{
    background-color: #d5c75f;
    
}

.contenedor3{
    width: 100%;
    background-color: #d5c75f;
    
}*/